<div class="row">
  <h3>Criar post</h3>
  <form class="form-horizontal" (submit)="save()">
    <div class="form-group">
      <label for="title" class="control-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="post.title">
    </div>

    <div class="form-group">
      <label for="body" class="control-label">Body</label>
      <textarea type="text" class="form-control" id="body" name="body" [(ngModel)]="post.body"></textarea>
    </div>

    <app-button type="submit" color="primary">Criar</app-button>
  </form>
</div>