<div class="row">
  <h3>Listagem de posts</h3>
  <app-button color="primary" routerLink="/posts/create">Criar</app-button>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
